* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #d1a625;

  display: flex;
  flex-direction: column;

  justify-content: center;

  align-items: center;
  cursor: pointer;
}
.heading {
  justify-content: center;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#match {
  color: crimson;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

#play-again {
  color: aquamarine;
  display: none;
  border: none;
 
}
#win-status {
  display: none;
  color: #8a2be2;
}
#lose-status {
  display: none;
}

h1 {
  color: crimson;
}
.time-duration {
  justify-content: center;

  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #8a2be2;
}

button {
  padding-left: 20px;
  padding-right: 20px;
  background-color: crimson;
  text-align: center;
  border-radius: 16px;
}
main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: blueviolet;
  height: 85vh;

  width: 100vh;
  perspective: 1000px;
}

img {
  width: 75px;
}

.cards {
  /* width: calc(25% - 10px);calc(100/4 - 10px) */
  width: calc(100% / 4 - 10px);
  height: calc(100% / 4 - 10px);

  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  padding-bottom: 50px;
  background-color: blueviolet;
}

.cards:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;

  backface-visibility: hidden;
  overflow: hidden;
}
.back {
  transform: rotate(360deg) scale(1);
  animation: pulse 5s linear infinite;
}
.back::after {
  background: inherit;
  border-radius: 50%; /* To make circle */
  content: "";
  position: absolute;

  top: -50%; /* Inherit properties of parent */

  left: 0;
  height: 100px;
  width: 100px;
}
.back::before {
  background: inherit;
  border-radius: 50%; /* To make circle */
  content: "";
  position: absolute;
  top: 0;
  right: -50%; /* Inherit properties of parent */
  height: 100px;
  width: 100px;
}

@keyframes pulse {
  0% {
    transform: rotate(360deg) scale(1);
    opacity: 0;
  }
  50% {
    transform: rotate(360deg) scale(1.3);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 1;
  }
}

.front {
  transform: rotateY(180deg);
}
