* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #d1a625;
  /*flex-flow: column nowrap;*/ /*e*/
  /* height: 100vh; */
  display: flex;
  flex-direction: column;

  justify-content: center;

  align-items: center;
  /* align-items:center; */

  /* background: #060AB2; */
}
.heading {
  justify-content: center;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#match {
    color: crimson;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
        0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
        0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

#play-again {
  color: aquamarine;
  display: none;
  border: none;
  cursor: pointer;
}
#win-status {
  display: none;
  color:#8a2be2
}
#lose-status {
  display: none;
}

h1 {
  color: crimson;
}
.time-duration {
  justify-content: center;

  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #8a2be2;
}
/* h3 {
  color: #8a2be2;
} */
button {
  padding-left: 20px;
  padding-right: 20px;
  background-color: crimson;
  text-align: center;
  border-radius: 16px;
}
main {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: blueviolet;
  height: 85vh;
  /* padding-top:10px; */
  /* padding-bottom: 10px;  */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  width: 100vh;
  perspective: 1000px;
}

img {
  width: 75px;
}

/* .back{
   position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  /* height: 100%; 
  max-height:100%;
}


 /*.front{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    /* backface-visibility: hidden;   
    height: 100%;
    max-height:100%;
    /* background: #1C7CCC;  
   transition: all 0.25s;
} */

.cards {
  /* width: calc(25% - 10px);calc(100/4 - 10px) */
  width: calc(100% / 4 - 10px);
  height: calc(100% / 4 - 10px);
  /* margin: 5px; */
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  padding-bottom: 50px;
  background-color: blueviolet;

  /* min-width: 500px; */
  /* box-shadow: 1px 1px 1px rgba(0,0,0,.3); */
}

.cards:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  /* border-radius: 5px; */
  /* background: #1C7CCC; */
  backface-visibility: hidden;
  overflow: hidden;
  /* -webkit-transform: rotate(-45deg) translateZ(0);
  transform: rotate(-45deg) translateZ(0);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%; */
  
}
.back{
    transform: rotate(360deg) scale(1);
  animation: pulse 5s linear infinite;
}
.back::after {
    /* background:blue; */
    background:inherit;
    border-radius: 50%; /* To make circle */
    content:'';
    position:absolute;
    /* top: -100px;*/
    top: -50%; /* Inherit properties of parent */
    /* left: -100px; */
    left:0;
    height: 100px;
    width:100px;
}
.back::before {
    /*  background:green; */
      background:inherit; 
      border-radius: 50%; /* To make circle */
      content:'';
      position:absolute;
      top:0; 
      right:-50%; /* Inherit properties of parent */
      height: 100px;
      width:100px;
  }
    
@keyframes pulse{
    0% {
        transform: rotate(360deg) scale(1);
        opacity: 0;
    }/*
    10% {
        transform: rotate(-45deg) scale(1.3);
    }
    20% {
        transform: rotate(-45deg) scale(0.9);
    }
    30% {
        transform: rotate(-45deg) scale(1.2);
    }
    40% {
        transform: rotate(-45deg) scale(0.9);
    }*/
    50% {
        transform: rotate(360deg) scale(1.3);
        opacity: 1;
    }/*
    60% {
        transform: rotate(-45deg) scale(0.95);
    }
    70% {
        transform: rotate(-45deg) scale(1);
    } */
    100% {
        transform: rotate(360deg) scale(1);
        opacity: 1;
    }
}

.front {
  transform: rotateY(180deg);
  /* -webkit-animation: animateHeart 2.5s infinite;
  animation: animateHeart 2.5s infinite; */
}
/* .back{
    -webkit-transform: rotate(45deg) translateZ(0);
    transform: rotate(45deg) translateZ(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
} */

/* @-webkit-keyframes animateHeart {
    0% {
      -webkit-transform: scale(0.8);
    }
    5% {
      -webkit-transform: scale(0.9);
    }
    10% {
      -webkit-transform: scale(0.8);
    }
    15% {
      -webkit-transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(0.8);
    }
  }
@keyframes animateHeart {
    0% {
      transform: scale(0.8);
    }
    5% {
      transform: scale(0.9);
    }
    10% {
      transform: scale(0.8);
    }
    15% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(0.8);
    }
  } */
